@import "_null";
@import "_font";

body{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    color: #212529;
}

a:hover {
    border-bottom: 1px solid #212529;
}

.cont {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    font-size: 18px;
    &__box-logo {
    }
    &__logo-link{
        transition: all 0.5s;
        &:hover{
            border: none;
            opacity: 0.5;
        }
    }
    &__menu {
        display: flex;
    }

    &__nav {
        margin-right: 207px;
    }

    &__nav-list {
    }

    &__nav-item + &__nav-item {
        margin-top: 11px;
    }

    &__nav-link {

    }

    &__phon {
    }

    &__phon-link {
    }
    &__menu-mob{
        display: none;
    }
}

.first-screen {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12 , 1fr);
    padding-top: 50px;
    margin-bottom: 124px;
    &__title {
        grid-column-start: 1;
        grid-column-end: 8;
        font-size: 72px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__text {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 20px;
        line-height: 140%;
        font-family: "Roboto", sans-serif;
    }

    &__order{
        grid-column-start: -5;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: self-end;
        margin-bottom: 44px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: -1px;
        &:hover{
            border: none;
        }
    }
    &__order-link{
        border-bottom: #212529 solid 1px;
        padding-bottom: 2px;
    }

    &__img-1 {
        grid-column-start: -7;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    &__img-2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: self-end;
    }
}
.about-company {
    display: flex;
    margin-bottom: 130px;
    &__title {
        width: 50.7%;
        font-size: 48px;
        padding-right: 10%;
        line-height: 138%;
    }
    &__title-mob {
        display: none;
    }
    &__box-left {
        width: 49.3%;
        padding-right: 17%;
    }

    &__box-text {
        padding-top: 24px;
        margin-bottom: 50px;
        font-family: "Roboto", sans-serif;
        line-height: 141%;
    }
    
    &__text + &__text{
        margin-top: 16px;
    }

    &__advantages-list {
        padding-right: 62%;
    }

    &__advantages-item + &__advantages-item {
        margin-top: 35px;
    }

    &__advantages-title {
        font-size: 36px;
    }

    &__advantages-text {
        font-family: "Roboto", sans-serif;
        padding-top: 5px;
        line-height: 134%;
    }
}

.worck {
    display: flex;
    margin-bottom: 134px;
    &__title {
        width: 50.7%;
        font-size: 48px;
    }

    &__box-right {
        width: 49.3%;

    }

    &__text {
        max-width: 325px;
        margin-bottom: 54px;
        padding-top: 10px;
        padding-left: 4px;
        font-family: "Roboto", sans-serif;
        line-height: 140%;
    }

    &__list {
    }
    &__item + &__item{
        margin-top: 36px;
    }
    &__item {
        border-bottom: solid #000 1px;
        display: flex;
        padding-bottom: 21px;
    }

    &__item-title {
        font-size: 36px;
        width: 51.48%;
        line-height: 140%;
        margin-top: -8px;
    }

    &__item-text {
        width: 49%;
        line-height: 140%;
    }
}
.portfolio {
    margin-bottom: 134px;
    &__title {
        font-size: 48px;
        margin-bottom: 36px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
    }

    &__item {
        position: relative;
        overflow: hidden;
        &:hover .portfolio__link{
            transform: translateY(-100%);
        }
    }

    &__img {
    }

    &__link {
        transition: all 0.5s;
        position: absolute;
        padding: 22px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        z-index: 1;
        left: 0;
        right: 0;
        background-color: rgba(33, 37, 41, 0.5);
        &:hover{
            border: none;
        }
    }

    &__link-text {
    }

    &__link-icon {
    }
}

.reviews {
    margin-bottom: 120px;
    &__title {
        font-size: 48px;
        margin-bottom: 38px;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        border: 1px solid #000;
        max-width: 445px;
        padding: 40px 40px 60px;
        text-align: center;
    }

    &__item-icon {
        margin-bottom: 36px;
    }

    &__item-name {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
    }

    &__item-text {
        font-family: "Roboto", sans-serif;
        line-height: 140%;
    }
}

.order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
    &__form-box {
        padding-top: 10px;
        padding-left: 10px;
    }

    &__title {
        font-family: Helvetica;
        font-size: 48px;
        margin-bottom: 38px;
    }

    &__text {
        font-family: "Roboto", sans-serif;
        line-height: 140%;
        margin-bottom: 72px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        padding-right: 148px;
        margin-bottom: 40px;
    }
    &__input + &__input:not(.order__input--submit){
        margin-top: 15px;
    }
    &__input{
        border-bottom: 1px solid #212529;
        padding-bottom: 12px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        &::placeholder{
            color: #212529;
        }
        &--submit{
            align-self: start;
            padding: 11px 18px;
            color: #fff;
            background-color: #212529;
            margin-top: 24px;
            transition: all 0.5s;
            border: #212529 2px solid;
            &:hover{
                color: #212529;
                background-color: #fff;
            }
        }
    }
    &__download-list {
        display: flex;
    }

    &__download-item {
        margin-right: 8px;
    }

    &__download-link {
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    font-family: "Roboto";
    align-items: end;
    &__copyright {
        font-size: 18px;
        text-transform: uppercase;
    }

    &__copyright-text {
        margin-bottom: 8px;
    }

    &__list-link {
        display: flex;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    &__item-link + &__item-link {
        &::before{
            content: "/";
            padding-left: 4px;
        }
    }

    &__nav-link {

    }

    &__list-social-network {
        font-size: 18px;
        text-transform: uppercase;
        display: flex;
        padding-bottom: 8px;
    }

    &__item-social-network + &__item-social-network{
        margin-left: 40px;
    }

    &__social-network-link {
    }
}
.title-h2{
    font-size: 48px;
}
@media (max-width: 1440px){

    .first-screen {
		&__title {
            
        }

		&__text {
            margin-bottom: 40px;
		}

		&__order {
		}

		&__order-link {
		}

		&__img-1 {
            width: 100%;
		}

		&__img-2 {
            width: 100%;
		}
    }
    .about-company{
        &__title{
            padding-right: 3vw;
        }
        &__box-left{
            padding-right: 8%;
        }
        &__box-text{
            padding-top: 1vw;
        }
    }
    .portfolio{
        &__item{

        }
        &__img{
            height: 40vw;
        }
    }
    .reviews{
        &__list{

        }
        &__item{
            padding: 4vw 4vw 6vw;
        }
    }
    .order{
        &__img{
            width: 90%;
        }
        &__form{
            padding-right: 8vw;
        }
    }
}
@media (max-width: 1000px){
    .header {
        align-items: center;
		&__box-logo {
		}

		&__logo-link {
		}

		&__logo-img {
		}

		&__menu {
            display: none;
		}
		&__nav {
		}

		&__nav-list {
		}

		&__nav-item {
		}

		&__nav-link {
		}

		&__phon {
		}

		&__phon-link {
		}

		&__menu-mob {
            display: block;
		}

		&__menu-mob-btn {
            background-color: transparent;
		}

		&__menu-mob-img {
		}
    }
    .first-screen {
        display: block;
		&__title {
            font-size: 56px;
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-row-end: 2;

        }

		&__text {
            grid-row-start: 2;
            grid-row-end: 3;
		}

		&__order {
            grid-row-start: 3;
            grid-row-end: 4;
		}

		&__order-link {
		}

		&__img-1 {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 4;
            grid-row-end: 5;
            height: 500px;
            object-fit: cover;
		}

		&__img-2 {
            display: none;
		}
    }
    .about-company{
        &__box-left{
            padding-right: 0;
        }
    }
    .worck{
        &__item-title{
            font-size: 24px;
            width: 40%;
        }
        &__item-text{
            width: 60%;
        }
    }
    .reviews{
        &__list{
            grid-template-columns: 1fr 1fr;
        }
        &__item{
            
        }
    }
    .order{
        
    }
    .footer{
        flex-direction: column;
        align-items: center;
        &__list-link{
            order: -1;
            display: block;
            text-align: center;
            padding: 0;
            margin-bottom: 36px;
        }
        &__item-link + &__item-link{
            margin-top: 10px;
        }
        &__list-social-network{
            order: -2;
            margin-bottom: 20px;
        }
        &__copyright{
            text-align: center;
        }
        &__item-link + &__item-link::before {
            content: "";
            padding-left: 0;
        }
    }
    
    .title-h2{
        font-size: 32px;
    }
}
@media (max-width: 900px){
    .worck{
        &__item{
            display: block;
        }
        &__item-title{
            width: 100%;
        }
        &__item-text{
            width: 100%;
        }
    }
    .portfolio{
        &__link{
            font-size: 14px;
            bottom: 0;
        }
    }
    .order{
        display: block;
        &__img{
            display: none;
        }
        &__form{
            padding-right: 15vw;
        }
    }
}
@media (max-width: 720px){
    .cont{
        padding: 0 16px;
    }
    .first-screen {

		&__title {
            font-size: 32px;
        }

		&__text {
            font-size: 16px;
		}

		&__order {

		}

		&__order-link {
		}

		&__img-1 {

		}

		&__img-2 {
		}
    }
    .portfolio{
        &__list{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 0;
        }
        &__item{
            flex: 0 0 auto;
            width: 252px;
            margin-right: 20px;
        }
        &__img{
            height: 328px;
            width: 252px;
        }
    }
    .portfolio.cont{
        padding: 0 0 0 16px;
    }
}
@media (max-width: 580px){
    .header {
        padding-top: 8px;
		&__box-logo {
		}

		&__logo-link {
		}

		&__logo-img {
            height: 40px;
		}

		&__menu {
            display: none;
		}
		&__nav {
		}

		&__nav-list {
		}

		&__nav-item {
		}

		&__nav-link {
		}

		&__phon {
		}

		&__phon-link {
		}

		&__menu-mob {
            display: block;
		}

		&__menu-mob-btn {
            background-color: transparent;
		}

		&__menu-mob-img {
		}
    }
    .first-screen{
        padding-top: 24px;
        margin-bottom: 54px;
        &__title{
            margin-bottom: 16px;
        }
        &__text{
            margin-bottom: 24px;
        }
        &__order{
            text-align: left;
            margin-bottom: 28px;
        }
        &__img-1{
            height: 70vw;
            object-position: 0 -105px;
        }
    }
    .about-company{
        display: block;
        margin-bottom: 57px;
        &__title{
            display: none;
        }
        &__title-mob {
            display: block;
            margin-bottom: 18px;
        }
        &__box-text{
            padding-right: 7px;
            margin-bottom: 38px;
        }
        &__text + &__text{
            margin-top: 14px;
        }
        &__box-left{
            width: 100%;
        }
        &__advantages-list {
            padding-right: 48%;
        }
        &__advantages-item + &__advantages-item{
            margin-top: 28px;
        }
        &__advantages-title{
            font-size: 24px;
        }
        &__advantages-text{
            padding-top: 2px;
        }
    }
    .worck{
        display: block;
        margin-bottom: 48px;
        &__title{
            width: 100%;
        }
        &__text{
            padding-top: 23px;
            padding-left: 0;
            margin-bottom: 37px;
        }
        &__box-right{
            width: 100%;
        }
        &__item{
            padding-bottom: 18px;
        }
        &__item-title{
            margin-bottom: 13px;
        }
    }
    .portfolio{
        margin-bottom: 57px;
        &__title{
            margin-bottom: 22px;
        }
        &__link {
            font-size: 16px;
            padding: 14px 12px;
        }
    }

    .reviews{
        margin-bottom: 56px;
        &__item {
            padding: 8vw 8vw 9vw;
        }
        &__item-icon {
            height: 33px;
        }


        &__title {
            margin-bottom: 22px;
        }

        &__list{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 332px);
            gap: 16px;
        }
        &__item{
            max-width: 100%;
            height: 100%;
        }
    }
    .order{
        margin-bottom: 63px;
        &__form-box{
            padding: 0;
        }
        &__form{
            padding-right: 0;
            margin-bottom: 28px;
        }
        &__title{
            margin-bottom: 23px;
        }
        &__text{
            margin-bottom: 32px;
        }
        &__input--submit{
            margin-top: 20px;
        }
    }
    .title-h2{
        font-size: 28px;
    }
}